<body background="background.jpg">
<h1><center>Create Your Note</center></h1>
<%= form_for :note, url: notes_path do |f| %>
<center>
    <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </p>
    
    <p>
        <%= f.label :text %><br>
        <%= f.text_area :text %>
    </p>
    
    <p>
        <%= f.submit %>
    </p>
</center>
</body>
<% end %>
<center><button type="button"><%= link_to 'Go Back', notes_path %></button></center>